button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.btn{
	text-transform: uppercase;
	padding: 0 20px;
	min-height: 50px;
	min-width: 200px;
	max-width: 280px;
	line-height: 50px;
}


.btn.pink{
	display: block;
	clear:both;
	background: $pink;
	color: white;
	@include transition(all .3s ease-in);

	&:hover,
	&:active,
	&:focus{
		background: darken($pink, 15%);
	}
}
