fieldset {
  border: none;
  margin: 0 0 ($base-spacing / 2) 0;
  padding: $base-spacing;
}

input,
label,
select {
  display: block;
  font-family: $form-font-family;
  font-size: $form-font-size;
}

label {
  font-weight: bold;
  margin-bottom: $base-spacing / 4;

  &.required:after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

textarea,
#{$all-text-inputs},
select {
  @include box-sizing(border-box);
  @include transition(border-color);
  background-color: white;
  border: 1px solid $form-border-color;
  box-shadow: $form-box-shadow;
  font-family: $form-font-family;
  font-size: $form-font-size;
  margin-bottom: $base-spacing / 2;
  padding: ($base-spacing / 3) ($base-spacing / 3);
  width: 100%;

  &:hover {
    border-color: $form-border-color-hover;
  }

  &:focus {
    border-color: $form-border-color-focus;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $base-spacing / 4;
}

input[type="file"] {
  padding-bottom: $base-spacing / 2;
  width: 100%;
}

select {
  max-width: 100%;
  width: auto;
}




.form-full.sub{
  background: $pink;
    text-align: center;
    height: 50px;
    position: relative;

    .fa{
        color: white;

        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;

        margin-top: -8px;
        margin-left: -50px;
    }

    input{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

}




.wpcf7{
  form{
    @include clearfix;
  }
    span.wpcf7-not-valid-tip{
        display: none;
    }
    .screen-reader-response{
      display: none;
    }

    .wpcf7-not-valid{
        border: 1px solid red !important;
    }
    .wpcf7-response-output{
        @include font-size(14px);
        line-height: 120%;
        clear: both;
    }
    .wpcf7-validation-errors{
        border: 1px solid red; 
    }
    .wpcf7-captchac{
      vertical-align: bottom;
    }

    .wpcf7-submit{
      @include transition(color .3s ease-out);

      &:hover,
      &:active,
      &:focus{
        color: $blue !important;
      }
    }
    .captcha-text{
      font-size: 16px;
      font-weight: 300;
    }
}




.form-full,
.form-half,
.form-qtr{
  margin-bottom: $base-spacing;
}
.form-full{
  clear: both;
}
.form-half{
  width: 50%;
  float: left;
}
.form-qtr{
  width: 25%;
  float: left;
}

@include media($small-screen-down){
  .form-half,
  .form-qtr{
    width: 100%;
    float: none;
    clear: both;
    padding: 0 !important;
  }
}


form .form-half:nth-of-type(even){
  padding-right: 12px;
  clear: left;
}
form .form-half:nth-of-type(odd){
  padding-left: 12px;
  clear: right;
}

form .form-half + .form-qtr{
  padding-right: 12px;
  padding-left: 12px;
}

form .form-half + .form-qtr + .form-qtr{
  padding-left: 12px;
}

input,
select{
  height: 51px;
}
select{
  width: 100%;
  display: block;
  border: 1px solid white;
}
textarea{
  height: 100px;
}
.wpcf7-submit{
  width: 100%;
  text-transform: uppercase;
}

img.wpcf7-captchac{
  border: none !important;
}


.wpcf7-radio,
.wpcf7-checkbox{
  .wpcf7-list-item{
    float: left;
    width: 45%;
    margin-left: 0;

    @include media($small-screen-down){
      float: none;
      display: block;
      width: 100%;
      margin-bottom: 10px;
    }
  }
  .wpcf7-list-item-label{
    display: inline-block; 
      position: relative;  
      padding-left: 50px;  
      margin-right: 15px;  
      font-size: 13px;  
  }
  .wpcf7-list-item{
    position: relative;
  }
  input[type=radio],
  input[type=checkbox] {  
      //display: none;  
      width:28px;
      height: 28px;
      vertical-align: middle;
    //  position: relative;
      position: absolute;
      top:0;
      left:0;
      z-index:1;
      opacity: 0;
      cursor: pointer;
  }
  .wpcf7-list-item-label:before {  
      content: "";  
      display: inline-block;  
    
      width: 28px;  
      height: 28px;  
      cursor: pointer;
      margin-right: 10px;  
      position: absolute;  
      left: 0;  
      top: -3px;  
      border: 3px solid $blue; 
  }

  input[type=radio]:checked + .wpcf7-list-item-label:before,
  input[type=checkbox]:checked + .wpcf7-list-item-label:before {  
     background: $blue;  
  }  


}

//INTAKE FORM
.form-hide{
  @include transition(all .2s ease-out);
  overflow: hidden;
  height: 0;
}
.form-half.on,
.form-full.on{
  height: auto;
}