@import "../neat/neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
//$column: 72px;
//$gutter: 23px;
// $grid-columns: 12;
$max-width: 1123px;

//$visual-grid: true; 

// Neat Breakpoints
$small-screen: em(700);

$small-screen-down: new-breakpoint(max-width $small-screen);
$small-screen-up: new-breakpoint(min-width $small-screen);