//==  vollkorn: 400, 700
//==  lato: 300,400,700, 300italic, 400italic


// Typography
$sans-serif: 'Lato', sans-serif;
$serif: 'Vollkorn', serif;
$base-font-family: $sans-serif;
$header-font-family: $serif;

// Font Sizes
$base-font-size: 18px;
$h1-font-size: $base-font-size * 2.25;
$h2-font-size: $base-font-size * 2;
$h3-font-size: $base-font-size * 1.5;
$h4-font-size: $base-font-size * 1.5;
$h5-font-size: $base-font-size * 1.25;
$h6-font-size: $base-font-size;

// Line height
$base-line-height: 1.6;
$header-line-height: 1.25;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;

// Colors
$blue: #008da9;
$blue-dk-1: #007c8f;
$blue-dk-2: #356975;
$pink: #e50278;
$pink-dk-1: #b84d75;
$pink-dk-2: #8c5669;
$green: #89ae3e;
$orange: #f7a626;

// Background Color
$base-background-color: white;

// Font Colors
$base-font-color: #000000;
$base-accent-color: $pink;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Flash Colors
$alert-color: red;
$error-color: red;
$notice-color: lighten($base-accent-color, 40);
$success-color: $green;

// Border color
$base-border-color: $blue;
$base-border: 5px solid $base-border-color;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(black,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;