/* ================================================*\
 *
 * Banner
/* ================================================*/

#banner{
	min-height: 200px;
	margin-top: 52px;
	text-align: center;
	background: url(../img/pencil-holders-banner.jpg) 50% 50% no-repeat;
	background-size: cover;
	padding-top: 20px;

	.banner-inner{
		@include outer-container();
		@include padding(null 23px null 23px);		
	}
	.header{
		color: white;
		font-family: $serif;
		@include font-size(48px);
		text-shadow: 0 0 10px #000;
		display: block;
		opacity: 0;
		@include animation( opaAnim 1s .5s 1 forwards ease-out);

		@include media($small-screen-up){
			line-height: 100%;

		}
	}

	@include media($small-screen-up){
		margin-top: 163px;
		padding-top: 80px;
	}

}



@include keyframes(opaAnim){
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}








/* ================================================*\
 *
 * Slider
/* ================================================*/
$mobile-height: 479px;
$desktop-height: 593px;

.slider-wrap{	

	//MOBILE STYLES FIRST
	min-height: $mobile-height;
	width: 100%;
	text-align: center;
	background-size: cover;
	position: relative;
	z-index: 1;
	margin-top: 52px;

	.svg.swoop{
		width: 100%;
		height: auto;
		max-height: 150px;
		position: absolute;
		bottom: -61px;
		left: 0;
		z-index: 3;

		@media(min-width: 1885px){
			max-height: 160px;
			height: 160px;
		}
		@media(max-width: 986px){
			height: 112px;
		}
		@include media($small-screen-down){
			bottom: -40px;
		}
		@media (max-width: 414px){
			bottom: -45px;
		}
	}

	.branding{
		position: absolute;
		left: 50%;
		top: 50%;
	//	height: 157px;
		width: 266px;
		margin-left: -133px;
		margin-top: -95px;
		z-index: 3;

		.h1{
			display: block;
		}
	}
	#slider{
		position: relative;
	}

	.rslides{
		position: relative;
		list-style: none;
		overflow: hidden;
		min-height: $mobile-height;
		width: 100%;
		padding: 0;
		margin: 0;
	}
	.rslides li {
		-webkit-backface-visibility: hidden;
		position: absolute;
		display: none;
		min-height: $mobile-height;
		width: 100%;
		left: 0;
		top: 0;
		background-size: cover;
		background-position: 25% 50%;
	}

	.rslides li:first-child {
		position: relative;
		display: block;
		float: left;
	}

	//SET-UP THE HERO TEXT
	li{
		padding-top: 52px;
	}
			//indented for visuals, not nested
			.site-cta{
				text-align: center;
				width: 100%;
			}
			.svg.logo{
				width: 260px;
				height: 90px;
				filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
				-webkit-filter: drop-shadow(0 0 4px rgba(0,0,0,.9));
				filter: drop-shadow(0 0 4px rgba(0,0,0,.9));
			}
			.num{
				color: white;
				font-weight: 800;
				@include font-size(50px);
				text-shadow: 0 0 7px #000;
			}
			.slide-text{
				background: rgba(0,0,0,.6);
				width: 100%;
				text-align: center;
				padding: 22px 48px;
				color: white;
			}
			.h1{
				font-family: $serif;
				@include font-size(30px);
				color: white;
				line-height: 100%;
			}
			p{
				@include font-size(18px);
				font-weight: 300;
				margin: 0;
			}
			.btn{
				color: white;
				text-transform: uppercase;
				@include font-size(24px);
				font-weight: 800;
				display: block;
				margin: 10px auto 0;
			}

			@include media($small-screen-down){
				.svg.logo{
					margin: 0 auto;
					clear: both;
					display: block;
				}
				li{
					padding-bottom: 50px;
				}
				li:after{
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					z-index: 1;
					height: 100%;
					width: 100%;
					background: rgba($blue, .8);
				}
				li .inner-container{
					position: relative;
					z-index: 2;
				}
			}


	//DESKTOP
	@include media($small-screen-up){
		height: $desktop-height;
		margin-top: 163px;

		.rslides,
		.rslides li{
			min-height: $desktop-height;
			background-position: 50% 50%;
		}

		.branding{
			width: 670px;
			margin-left: -335px;
			margin-top: -132px;

			.h1{
				@include font-size(70px);
				color: white;
			}
		}
		.svg.logo{
			width: 405px;
			height: 140px;

		}
		.svg.swoop{
			bottom: -37px;
		}
		.site-cta{
			float: right;
			clear: both;
			width: 514px;
		}
		.slide-text{			
			@include font-size(24px);
			text-align: center;
			float: right;
			clear: both;
			width: 514px;
		}
		.btn{
		//	margin-top: 38px;
		}
		li:nth-child(2){
			background-position: center top;
		}


	}//DESKTOP

	#arrow-down{
		position: absolute;
		z-index: 4;
		bottom: 0;
		left: 50%;
		margin-left: -12px;
	}


}




.ie .slider-wrap{

	@media (min-width: 980px){
		.svg.swoop{

		}
	}

}








/* ================================================*\
 *
 * ABA Banner
/* ================================================*/

#aba-banner{
	background: url(../img/fun-pattern-orange.jpg);
	color: #fff;
	padding: 26px 30px 20px;
	position: relative;	
	box-shadow: inset 0 -40px #ffffff;
	clear: both;
	margin-top: 60px;
	margin-bottom: 100px;
	@include clearfix;

	@media (min-width: 810px){	
		box-shadow: inset -120px 0 #ffffff;
	}

	@media (min-width: 900px) and (max-width: 1234px){
		box-shadow: inset 0 -40px #ffffff;
	}

	.left{	
		text-align: center;
		margin-bottom: 30px;

		@media (min-width: 810px){
			float: left;
			width: 355px;
			margin-bottom: 0;
		}

		@media (min-width: 900px) and (max-width: 1234px){
			float: none;
			width: 100%;
			margin-bottom: 30px;
		}

		a{
			@include font-size(24px);
			font-weight: 800;
		}

		p{
			line-height: 1.3;
		}

		.h3{
			display: block;
			@include font-size(24px);
			color: $pink;
			font-weight: 800;
			line-height: 1;
		}
	}

	.svg-wrap{
		width: 100%;
		height: 84px;
		margin: 0 auto 18px;
		overflow: hidden;

		@media (min-width: 810px){
			width: 274px;
			height: 63px;
			margin: 0 auto 15px;
		}
		
		svg{
			width: 218px;
			height: 79px;

			@media (min-width: 810px){	
				width: 271px;
				height: 74px;
			}
		}
	}

	.image-ribbon{
		text-align: center;

		@media (min-width: 810px){
			position: absolute;
			top: -25px;
			right: 50px;
		}

		@media (min-width: 900px) and (max-width: 1234px){
			position: relative;
			top: auto;
			right: auto;
		}

		@media (min-width: 1235px){
			right: 0;
		}
		
		.ribbon-cta{
			position: relative;
			margin: -56px auto 0;
			
			@media (min-width: 422px){
				width: 300px;
			}
		}

		svg{
			position: absolute;
			top: 0;
			width: 95px;
			height: 80px;
			z-index: 0;
		}

		svg:nth-child(2){
			left: -50px;

			@media (min-width: 810px){	
				left: -70px;
			}
		}

		svg:nth-child(3){
			right: -50px;

			@media (min-width: 810px){	
				right: -70px;
			}
		}

		a{
			background: $pink;
			color: #ffffff;
			display: block;
			text-align: center;
			font-family: $serif;
			@include font-size(24px);
			height: 68px;
			line-height: 68px;
			position: relative;
			z-index: 2;
		}

	}

	img{
		border: none;
	}

}