/* ================================================*\
 *
 * BLOG ROLL
/* ================================================*/

.blog,
.archive{

	main{
		.post{
			@include span-columns(4 of 8);
			margin-bottom: 50px;
			background: $blue;
			padding: 0 0 40px;
			position: relative;

			@media(max-width:850px){
				width: 360px;
				margin: 0 auto 30px !important;
				float:none;
			}

			@media(max-width:440px){
				@include span-columns(8 of 8);
			}

			&:nth-child(even){
				@include omega;
			}

			header{
				padding: 0 33px;
			}

			h1{
				color: white;
				font-family: $sans-serif;
				@include font-size(24px);
				font-weight: 300;	
			}
			time{
				color: white;
				font-weight: 300;
				display: block;
				padding: 0 33px;
			}
			.category{
				padding: 0 33px;
				color: white;

				.svg{
					width: 33px;
					height: 17px;
					display: inline;
					vertical-align: -2px;
					margin-right: 6px;
				}
			}
			a{ 
				color: white; 
				font-weight: 300;
			}
			.post-thumbnail{
				background: $blue;
				width: 100%;
				border: 5px solid $blue;
				text-align: center;
				height: 250px;
				margin-bottom: 50px;
				overflow: hidden;
				@include transition(all .2s ease-out);

				a:hover,
				a:active,
				a:focus{
					
					img, .default-blog{
						opacity: .8;
					}

				}
				.default-blog{
					width: 100%;
					height: 250px;
					background: $green;
					
					@include transition(all .2s ease-out);
				}
				img{
					border: none;
					@include transition(all .2s ease-out);
				}
			}
			.blog-logo-accent{
				background: $pink;
				width: 96px;
				height: 96px;
				border-radius: 50px;
				border: 4px solid $blue;
				position: absolute;
				top: 196px;
				left: 50%;
				margin-left: -45px;
				z-index: 1;
			}

		}
	}



}





/* ================================================*\
 *
 * BLOG SINGLE
/* ================================================*/
.single{

	.entry-time{
		color: white;
		background:$blue;
		font-weight: 300;
		width: 86px;
		height: 87px;
		border-radius: 50px;
		margin-right: 20px;
		text-align: center;
		padding: 10px 0 0;

		.month,
		.day,
		.year{
			display:block;
			line-height: 110%;
		}
		.day{
			@include font-size(24px);
		}
		.month,
		.year{
			@include font-size(18px);
		}

	}

	.article-header{
		margin-bottom: 40px; 
		@include clearfix;
		
		.svg{
			width: 33px;
			height: 17px;
			display: inline;
			margin-right: 8px;
		}
		a{
			color: #000000;
			font-weight: 300;
		}
	}
	.category{
		color: white;
	}
}

.no-flexbox .single{
	.entry-time{
		display: inline-block;
		float: left;
	}
}

.flexbox .single{

	.article-top{
		@include display(flex);
		@include flex-direction(row);
		@include flex-wrap(wrap);
		@include justify-content(flex-start);
		@include align-items(flex-start);
		@include align-content(flex-start);
	}
	.entry-time{
		@include flex(0 0 86px);
	}
	.article-header{
		@include flex(1 1 200px);
	}


}






/* ================================================*\
 *
 * BLOG GENERIC
/* ================================================*/
.pagination{
	@include span-columns(8 of 8);
	margin-bottom: 40px;

	li{
		display: inline-block;
		width: 50px;
		height: 50px;
		margin-right: 10px;
	}
	li .page-numbers{
		border: 3px solid $pink;
		color: $pink;
		display: block;
		line-height: 50px;
		text-align: center;
		font-weight: 300;
		@include transition(all .2s ease-in);

		&:hover,
		&:active,
		&:focus{
			background: $pink;
			color: white;
		}
	}
	li .current{
		background: $pink;
		color: white;
	}
}




.flexbox .blog,
.flexbox .archive{
	
	main .post{
		@include display(flex);
		@include flex-direction(row);
		@include flex-wrap(wrap);
		@include justify-content(flex-start);
		@include align-items(flex-start);
		@include align-content(flex-start);
		height: 491px;
	}
	.post-content{
		@include order(1);
		@include flex(1 1 100%);
		width: 100%;
	}
	
	.post-thumbnail{
		@include order(0);
		@include flex(1 1 100%);
		margin: 0 0 20px;
	}
}


footer.js-ssba-btn{
	@include clearfix;
	overflow: hidden;
	height: 41px;
	display: inline-block;
	clear: both;
	float: none;
	width: 150px;
	@include transition(all .2s ease-out);

	&.open{
		width: auto;
	}


	button.btn{
		background: $pink;
		color: white;
		border-radius: 0;
		@include font-size(16px);
		text-transform: uppercase;
		font-weight: 400;
		float: left;
		width: 150px;
		height: 41px;
		line-height: 100%;
		padding: 0;
		min-height: inherit;
		min-width: inherit;
		max-width: inherit;
	}
	div.ssba {
		float: left;
		margin-left: 8px;
		margin-top: 3px;

		a{
			opacity: 0;
		}

		$types: 10;
		$type-x: -140;

		@while $types > 0{
			a:nth-child(#{$types}){
		  		@include transform(translateX( #{$type-x * $types / 5}px ));
		  		@include transition(all .2s ease-out #{$types/22}s );
			}
			$types: $types - 1
		}

	}

	div.ssba.open{

		a{
			@include transform(translateX(0));
			opacity: .8;
		}
	}

	@media (max-width: 500px){
		height: 111px;
	}
}

div.ssba a{
	display: inline-block;

	&:after{
		border: none;
		display: none;
	}
}



.archive.author{

	img.avatar{
		float: left;
		display: inline;
		margin: 8px 20px 10px 0;
	}

	.bio{
		margin-bottom: 40px;
	}

	main .post:nth-child(even){
		margin-right: 3.57866%;
	}

	main .post:nth-child(odd){
		@include omega;
	}
}





/* ================================================*\
 *
 * GALLERY ARCHIVE
/* ================================================*/
.post-type-archive-gallery_type{
	main > section{
		@include display(flex);
		@include flex-wrap(wrap);
		@include justify-content(flex-start);

		article{
			flex: 0 1 200px;
			margin-right: 30px;
		}
	}
	article.gallery_type{
		.post-content{
			display: none;
		}
		svg.blog-logo-accent{
			display: none;
		}
	}
}