/* ================================================*\
 *
 * Candybar
/* ================================================*/
#candy-bar{
	background: $green;
	color: white;

	.inner-container{
		padding-top: 46px;
		padding-bottom: 38px;
	}

	blockquote{
		color: white;
		border-left: 0;
		@include font-size(24px);
		font-style: italic;
		padding: 0;
		margin: 0;
		position: relative;

		@include span-columns(7);
		@include shift-in-context(1 of 12);

		cite{
			float: right;
			color: white;
		}

		&:before{
			content: '\201c';
			@include font-size(144px);
			font-family: $serif;
			font-weight: 800;
			font-style: normal;
			color: $pink;
			position: absolute;
			left: -80px;
			top: -30px;
			height: 104px;
		}

		@media (max-width: 960px){
			@include span-columns(12);
			@include shift-in-context(0 of 12);
		}
	}

	.ribbon-cta{
		@include span-columns(4);
		@include omega;
		position: relative;
		margin-top: 12px;

		a{
			width: 65%;
			height: 68px;
			background: $pink;
			color: white;
			display: block;
			text-align: center;
			line-height: 68px;
			margin: 0 auto;
			position: relative;
			z-index: 1;
		}

		.svg-ribbon{
			width: 107px;
			height: 81px;
			position: absolute;
			left: -2%;
			top: 0;
			z-index: 0;
		}
		.svg-ribbon:last-child{
			right: -2%;
			left: auto;
		}

		@media (max-width: 960px){
			@include span-columns(12);
			@include shift-in-context(0 of 12);

			a{ width: 90%; }
		}

		@media (max-width: 560px){
			a{ width: 80%; }
		}
	}

}










/* ================================================*\
 *
 * CONTACT US
/* ================================================*/

#contact{
	padding-top: 30px;
	padding-bottom: 55px;
	text-align: center;
	position: relative;
	overflow: hidden;


	.inner-container > div{
		@include span-columns(6);
		@include shift(3 of 12);
		position: relative;
		z-index: 1;

		@media (max-width: 980px){
			@include span-columns(12);
			@include shift(0 of 12);
		}

		@media (max-width: 530px){

		}
	}
	h2{
		text-align: center;
		margin: 10px 0 20px;
	}
	svg{
		width: 62px;
		height: 64px;
	}
	a{
		font-weight: 700;
	}
	p{
		margin-bottom: 30px;
		text-align: left;
	}
	
	a.btn{
		@include font-size(18px);
		background: $pink;
		padding: 0;
		display: block;
		text-align: center;
		margin: 22px auto 0;
		color: #ffffff;
		max-width: 220px;
	}

	a.btn svg.svg-icon{
		width: 18px;
		height: 24px;
		display: inline-block;
		vertical-align: sub;
		margin-right: 6px;
	}
	.wpcf7{
		input:not(.btn),
		select,
		textarea{
			background: rgba($blue, .5);
			border: none;
			color: $blue;
			margin: 0;
		}
		.form-half,
		.form-full{
			margin-bottom: 25px;
		}
		.cpta{
			padding-left: 0;
			padding-right: 12px;
			text-align: left;
		}
		.cpta + .form-half{
			padding-right: 0;
			padding-left: 12px;
			clear: right;
			margin-top: 26px;
		}


		::-webkit-input-placeholder {
		   color: $blue;
		}

		:-moz-placeholder { /* Firefox 18- */
		   color: $blue;  
		}

		::-moz-placeholder {  /* Firefox 19+ */
		   color: $blue;  
		}

		:-ms-input-placeholder {  
		   color: $blue;  
		}
		form .form-half:nth-of-type(odd){
			padding-right: 12px;
			padding-left: 0;
			clear: left;
		}
		form .form-half:nth-of-type(even){
			padding-left: 12px;
			padding-right: 0;
			clear: right;
		}
		.form-half.cpta{
			padding-right: 12px !important;
			padding-left: 0 !important;
			clear: left !important;
		}
		.form-half.cpta + .form-half{
			padding-left: 12px;
			padding-right: 0;
			clear: right;
		}
	}

	.bg-icon{
		position: absolute;
		opacity: .1;
		width: 707px;
		height: 877px;
		z-index: 0;

		&:nth-of-type(1){
			left: -150px;
			bottom: -170px;
			@include transform( rotate(210deg) );
		}
		&:nth-of-type(2){
			right: -120px;
			top: -230px;
		}

	}
}






/* ================================================*\
 *
 * Footer Top
/* ================================================*/
.footer-top{
	background: url(#{$img}/building-blocks-bg.jpg) no-repeat 50% 50%;
	background-size: 100% 100%;
	padding: 24px 0 28px;

	.footer-logo{
		@include span-columns(3);
		@include shift(3 of 12);
		@include font-size(10px);
		color: white;
		font-family: $serif;
		text-align: center;
		text-indent: -4px;
		line-height: 40%;
		
		svg{
			width: 268px;
			height: 93px;
		}
		
		@media (max-width:1050px){
			width: 268px !important;
			margin: 0 auto !important;
			float: none !important;

			svg{
				display: block;
				margin: 0 auto;
			}
		}

	}
	.footer-social{
		@include span-columns(3);
		@include omega;

		.social-footer-heading{
			color: $pink;
			text-transform: uppercase;
			text-align: center;
			font-weight: 800;
			background: white;
			border-radius: 8px;
			padding: 10px 8px;
			margin: 0 auto 15px;
			display: block;
			width: 80%;
			position: relative;

			&:before{
				content: '';
				width: 0; 
				height: 0; 
				border-top: 14px solid transparent;
				border-bottom: 0px solid transparent; 
				border-right:31px solid white;
				position: absolute;
				left: -24px;
				bottom: 0;
			}
		}
		.footer-social-links{
			text-align: center;

			li{
				display: inline;
			}
			.svg{
				width: 37px;
				height: 37px;
			}
		}

		@media (max-width:1050px){
			@include span-columns(12);
			@include shift(0 of 12);

			.social-footer-heading{
				margin-top: 30px;

				&:before{
					border-left: 14px solid transparent;
					border-right: 14px solid transparent;
					border-bottom: 23px solid white;
					top: -36px;
					left: 50%;
					margin-left: -14px;
				}
			}
		}
	}	

}







/* ================================================*\
 *
 * Footer Bottom
/* ================================================*/
.footer-bottom{
	background: $blue;
	text-align: center;
	color: white;
	padding: 14px 0 4px;
	@include font-size(14px);

	a{
		color: white;
	}
}