/* ================================================*\
 *
 * Header
/* ================================================*/

#header{
	background: white;
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
	height: 163px;



	@include media( $small-screen-down){
		background: none;
		height: 52px;
	}



	.top-header{
		padding: 25px 0;
		@include clearfix;

		.h1{
			width: 260px;
			height: 51px;
			float: left;
			display: inline-block;
			padding:0;
			margin:0;
			font-family: $serif;
			@include font-size(11px);
			
			a{
				display: block;
				margin: 0;
				padding: 0;
				line-height: 0;
			}
			.svg{
				width: 260px;
				height: 56px;
				display: block;

			}

		}
		.header-contact{
			float: right;
			display: inline-block;

			.phone {
				@include font-size(33px);
				font-weight: 700;
				display: inline;
				float:left;

				@media (min-width: 700px) and (max-width:760px ){
					@include font-size(28px);
				}
			}
			
			.btn{
				float: left;
				background: $pink;
				color: #ffffff;
				margin-left: 20px;
				text-transform: capitalize;
				font-weight: 800;
				border-radius: 5px;
				background-image: url('../img/form-icon.gif');
				background-repeat: no-repeat;
				background-position: 18px 50%;
				padding-left: 36px;
				display: none;

				@media (min-width: 955px){
					display: inline-block;
				}
			}

			nav {
				display: inline;
				float:left;
				margin-top: 10px;

				li{
					display: inline;
					margin-left: 22px;
				}
				a{
					color: $blue;
					text-transform: uppercase;
				}
			}
		}

		@media (max-width: 1170px){
			padding: 25px 24px;
		}
		@include media( $small-screen-down){
			display: none;
		}
	}//top-header





	//MOBILE HEADER
	#mobile-header{
		display: block;
		background: black;
		height: 52px;
		padding: 7px 25px;
		@include transition(all .4s ease-in-out);

		
		@include media($small-screen-up){
			display: none;
		}

		&.open{
			opacity: .3;
		}

		svg{
			width: 124px;
			height: 37px;
		}

	}
	//MOBILE MENU BUTTON
	#mobile-menu-trigger{
		padding: 6px 20px;
		width: 64px;
		height: 100%;
		float: right;

		.menu-bar{
			text-indent: -999999px;
			color: transparent;
			background: $pink;
			height: 3px;
			margin: 5px auto;
			display: block;
			@include transition(all .2s ease-in-out);
		}
		&:before,
		&:after{
			content: '';
			height: 3px;
			background: $pink;
			display: block;
			width: 100%;
			@include transition(all .2s ease-in-out);
		}


		//FANCY FX
		&.open{
			.menu-bar{
				background: none;
			}
			&:before{
				@include transform(rotate(45deg));
			}
			&:after{
				@include transform(rotate(-45deg));
				margin-top: -16px;
			}
		}

	}







	#nav{
		background: $blue;
		position: relative;
		z-index: 1;
		@include outer-container(1167px);
		padding: 0 !important;


		//MOBILE STYLES
		@include media($small-screen-down){
			height: 100%;
			width: 100%;
			margin: 0;
			background: rgba(0,0,0,.8) !important;
			position: fixed;
			z-index: 1;
			left: 0;
			top: 52px;
			padding-top: 0;
			overflow: hidden;
			@include transition(all .3s cubic-bezier(0, 0.45, 1, 1.1));

			//move the nav up and out of the view
			@include transform(translateY(-800px));
			//make it invisible incase it were out of position
			opacity: 0;
			visibility: hidden;


			.inner{
				height: 90%;
				width: 100%;
				padding: 0 25px 100px;
				overflow-y: scroll;

				>ul.nav{
					margin-top: 14px;
				}
			}//.inner

			.mobile-phone-cta{
				text-transform: uppercase;
				text-align: center;
				color: white;
				background: $blue;

				a{
					@include font-size(24px);
					color: white;
				}
			}

			//----------------------
			//SHOW THE NAV		
			&.open{
				@include transform(translateY(0));
				opacity: 1;
				visibility: visible;
			}

			& > svg{ display: none; }


			//----------------
			//GENERIC NAV SET-UP
			ul.nav li{
				height: 32px;
			}
			ul.nav li.on{
				height: auto;
			}
			ul.nav li, 
			ul.nav ul, 
			ul.nav > li > ul > li {
				display: block;
				float: none !important;
				padding: 0;
				margin: 0 0 10px;
			}
			ul.nav li a{
				color: white;
				text-align: left;
				font-size: 1rem;
				text-transform: uppercase;
				padding: 4px 0 !important;

			}		
			a:hover, a:active, a:focus{		
				text-decoration: none;
			}

			.sub-trigger{			
				cursor: pointer;
				display: inline-block;
				color: transparent;
				vertical-align: -12px;
				margin-left: 20px;
				width: 0; 
				height: 0; 
				border-top: 7px solid transparent;
				border-bottom: 7px solid transparent;
				
				border-left: 10px solid white;
				@include transition(all .2s ease-in-out);
			}
			.sub-trigger.on{
				@include transform(rotateZ(90deg));
			}
			
			li.menu-item-has-children > a{
			}
			ul.nav > li > ul {
				@include transition (transform .2s ease-in-out 0s, opacity .3s ease-in-out 0s);			
				@include transform-origin(center top);
				@include transform(scaleY(0));
				opacity: 0;
				height:0;			

			}
			ul.nav > li > ul.on {
				@include transform(scaleY(1));
				height: initial;
				opacity: 1;
				display: block;
			}


			//----------------
			//FIRST NAVIGATION
			.inner > ul.nav{
				padding-right: 1px;
			}
			.inner > ul.nav > li{
			}
			.inner > ul.nav > li > a{
			
			}
			.inner>ul.nav > li > a:hover, 
			.inner>ul.nav > li > a:active, 
			.inner>ul.nav > li > a:focus{
				color: $pink;
			}



			//----------------
			//SUB-NAVIGATION
			li > .sub-menu {
				position: relative;
				width: 100%;
				padding: 10px 36px !important;
				clear:both;
			}
			.sub-menu > li{
			}
			li > .sub-menu > li:last-child{
				border-bottom: none;
			}
			li > .sub-menu > li a{
				color: white;
				clear:both;
				text-transform: capitalize;
				height: em(45);
			}
			li > .sub-menu .sub-trigger{
				background: darken($base-accent-color, 10%)
			}
			li > .sub-menu > li a:hover,
			li > .sub-menu > li a:active,
			li > .sub-menu > li a:focus{
				color: $orange;
			}


		}//MOBILE STYLES


		//DESKTOP STYLES
		@include media($small-screen-up){
			& > .svg:first-child{
				position: absolute;
				left:-74px;
				top: -21px;
				z-index: -1;
				width: 128px;
				height: 150px;
			}
			& > .svg:last-child{
				position: absolute;
				right:-74px;
				top: -21px;
				z-index: -1;
				width: 128px;
				height: 150px;
			}

			.inner{
				position: relative;
				z-index: 1;
				background: $blue;
				position: relative;
			}
			.inner > ul.nav{
				@include display(flex);
				@include flex-wrap(wrap);
				@include flex-direction(row);
				@include justify-content(space-between);
				@include align-items(stretch);
				@include align-content(flex-start);

				height: 82px;
			}
			.mobile-phone-cta{
				display: none;
			}



			//------ GENERIC
			a{
				color: white;
				text-transform: uppercase;
				@include font-size(14px);				
			}
			.inner > ul.nav > li.mobile{
				display: none;
			}



			//------ MAIN LEVEL
			.inner > ul.nav > li{
				@include flex(0 1 auto);	
				line-height: 82px;	
				position: relative;
				@include transition(background .5s ease-out);

				&:hover,
				&:active,
				&:focus{
					background: $base-accent-color;
				}
			}
			.inner > ul.nav > li > a{
				display: block;
				padding: 0 16px;
			}
			.sub-trigger{
				display: none;
			}
			.sub-menu .sub-trigger{
				width: 53px;
				height: 53px;
				line-height: 53px;
				color: white;
				position: absolute;
				right: 0;
				top: 0;
				text-align: center;
				font-size: 2em;
				display: block;
			}



			//------ FIRST SUB-MENU
			.inner > ul.nav > li > .sub-menu{
				visibility: hidden;
				opacity: 0;
				@include transform(scaleY(0));

				@include transition( transform .1s ease-out, opacity .4s ease-out);
				@include transform-origin(center top);
				position: absolute;
				left: 0;
				top: 82px;
				z-index: 5;
				width: 300px;

				background: $base-accent-color;
			}
			.inner > ul.nav > li > .sub-menu > li{
				display: block;
				background: $base-accent-color;	
				position: relative;

				//when the child sub-item is hovered over
				//keep this item lit up
				&:hover,
				&:active,
				&:focus{
					background: darken($pink, 15%);
				}
			}
			.inner > ul.nav > li > .sub-menu > li > a{
				display: block;
				padding: 20px 24px;
				line-height: 170%;
			}



			//------ SPECIFIC SUB-MENU
			.inner > ul.nav > li#nav-menu-item-19 > .sub-menu{
				left: auto;
				right: 0;
			}



			//------ GENERIC SUB-MENU
			.sub-menu a:hover,
			.sub-menu a:active,
			.sub-menu a:focus{
				background: darken($pink, 15%);
			}


			//------ WIRE UP THE FX
			.inner li.menu-item-has-children:hover{

				> .sub-menu,
				> .sub-menu.sub-sub-menu{
					visibility: visible;
					opacity: 1;
					@include transform(scaleY(1));
					@include transform(scaleX(1));
				}
			}


		}//END DESKTOP NAV

		@media screen and (min-width: 900px) AND (max-width: 1116px){
			.inner > ul.nav > li > a{
				padding: 0 4px;
				@include font-size(12px);
			}
		}

		@media screen and (min-width: 700px) AND (max-width: 899px){
			.inner > ul.nav > li > a{
				padding: 0 2px;
				@include font-size(9px);
			}
		}
		

	}//end #nav


	



}//end #header







/* ================================================*\
 *
 * Header
/* ================================================*/
.header-social-links{
	position: fixed;
	left: 0;
	z-index: 1;
	top: 239px;
	width: 50px;
	height: auto;
	
	.head{
		display: none;
	}
	li{
		background: white;
	}
	.svg{
		display: block;
		width: 50px;
		height: 50px;
	}

	@media(min-width:700px) and(max-width:1196px){
		display: none;
	}
	@include media($small-screen-down){
		position: relative;
		left: auto;
		top: auto;
		width: 100%;

		.head{
			display: inline-block;
			color: white;
			text-align: left;
			text-transform: uppercase;
		}
		li{
			display: inline-block;
			margin-right:10px;
		}
		.sub-menu{
			margin-top: 10px;
			padding:0 !important;
			visibility: hidden;
			opacity: 0;
			@include transform(scaleY(0));

			@include transition( transform .1s ease-out, opacity .4s ease-out);
			@include transform-origin(center top);
		}
		.sub-menu.on {
			@include transform(scaleY(1));
			height: initial;
			visibility: visible;
			opacity: 1;
			display: block;
		}
	}


}//end header-social-links