/* ================================================*\
 *
 * Sidebar & Main Column Set-Up
/* ================================================*/
aside#sidebar{
	@include span-columns(3);

	@media (max-width: 900px){
		display: none;
	}
}
main#main{
	@include span-columns(8);
	@include shift-in-context(1 of 12);
	@include omega;

	@media (max-width: 900px){
		@include span-columns(12);
		margin-left: 0;
	}
}




/* ================================================*\
 *
 * Main
/* ================================================*/
#content{
	padding-top: 100px;
}
.entry-content{
	padding-bottom: 3em;
}



















/* ================================================*\
 *
 * RECENT POSTS
/* ================================================*/
#recent-posts{
	text-align: center;
	padding: 0 0 98px;
	
	.preamble{
		@include span-columns(6);
		@include shift(3 of 12);
		margin-top: 30px;
		margin-bottom: 30px;

		svg{
			width: 62px;
			height: 64px;
		}
		p{ text-align: left; }

		@media (max-width: 790px){
			@include span-columns(12);
			@include shift(0 of 12);
		}

	}
	section{
		@include clearfix;
	}
	.article-summary{
		@include span-columns(4);
		text-align: left;

		&:nth-of-type(3){
			@include omega;
		}

		time{
			background: $blue;
			border-radius: 50px;
			color: white;
			text-align: center;
			display: block;
			width: 86px;
			height: 86px;
			padding: 9px;
			float: left;
			margin-left: -8px;

			span{
				display: block;
				line-height: 110%;
			}
			.month,
			.year{
				font-weight: 300;
			}
			.date{
				@include font-size(24px);
			}
		}
		header{
			float: right;
			width: 72%;
		}

		h2 a{
			@include font-size(24px);
			font-family: $sans-serif;
			font-weight: 300;
			color: $base-font-color;
		}

		@media(max-width: 1104px){
			@include span-columns(6);
			margin-bottom: 30px;

			&:nth-of-type(2){
				@include omega;
			}
			&:nth-of-type(3){
				@include shift(3 of 12);
			}
		}

		@media(max-width: 860px){
			@include span-columns(12);
			margin: 0 0 30px !important;
		}
	}	

	.btn{
		display: block;
		clear:both;
		margin: 50px auto 0;
	}
}





/* ================================================*\
 *
 * TOUR OUR CENTER
/* ================================================*/
#gallery{
	background: $orange url(../img/fun-pattern-orange.jpg);
	padding-top: 30px;
	padding-bottom: 70px;

	@include media($small-screen-down){
		overflow: hidden;
		position: relative;
		height: 490px;
	}

	.inner-container{
		padding-left: 0;
		padding-right: 0;
	}


	.gallery{
		@include media($small-screen-down){
			height: 263px;
			min-height: 263px;
			position: relative;
		}

		@include media($small-screen-up){
			@include display(flex);
			@include flex-direction(row);
			@include flex-wrap(wrap);
			@include justify-content(center);
			@include align-items(flex-start);
			@include align-content(flex-start);
		}
	}
	.preamble{
		text-align: center;
		margin-bottom: 50px;
		
		.h2{
			color: white;
			display: block;
			font-family: $header-font-family;
			  line-height: $header-line-height;
			  margin: 0;
			  text-rendering: optimizeLegibility; // Fix the character spacing for headings
			  font-weight: 400;
			font-size: $h2-font-size;
		}

		svg{
			width: 62px;
			height: 64px;
		}
	}


	.gallery-image-wrap{
		
		@include media($small-screen-down){
			width: 100%;
			display: block;

			&:nth-of-type(4){
				margin-right: 60px !important;
				clear: none !important;
			}
		}

		@include media($small-screen-up){
			margin-bottom: 25px;
			margin-right: 23px;
			@include flex( 0 0 263px );

			&:nth-of-type(4){
				margin-right: 0;
			}
			&:nth-of-type(8){
				margin-right: 0;
			}
		}
		
		@media (max-width: 1168px){
			&:nth-of-type(4){
				margin-right: 23px;
				clear: left;
			}

		}


		.gallery-image:hover,
		.gallery-image:active,
		.gallery-image:focus{
			.svg-mask { opacity: .2; }
			a{ 
				opacity: 1; 
				@include transform( translateY(0) );
			}
			.svg-icon{ 
				opacity: 1; 
				@include animation(cartwheel 1s cubic-bezier(0.43, 0.05, 0.94, 0.67) infinite normal forwards); 
			}
		}


		.gallery-image{
			background: $pink;
			border-radius: 140px;
			overflow: hidden;
			position: relative;		
			height: 263px;
			width: 263px;

			@include media($small-screen-down){
				margin: 0 auto;
			}
		}
		.svg-mask{
			position: relative;
			z-index: 0;
			margin: 0;
			@include transition(opacity .2s ease-out);
		}

		.svg-icon{
			position: absolute;
			z-index: 1;
			left: 10px;
			top: 10px;
			width: 240px;
			height: 240px;
			opacity: 0;
		}
		a{
			width: 270px;
			height: 270px;
			position: absolute;
			z-index: 2;
			text-transform: uppercase;
			color: white;
			text-align: center;
			line-height: 263px;
			opacity: 0;
			@include transition(all .2s ease-out);
			@include transform( translateY(-300px) );
		}


	}	

}


.no-flexbox .gallery-image-wrap{
	float: left;
	margin-right: 23px;
	width: 263px;
}











/* ================================================*\
 *
 * ACCEPTED INSURANCE
/* ================================================*/

#insurance{
	background: $blue;
	padding-top: 30px;
	padding-bottom: 70px;
	color: white;
	text-align: center;

	.preamble{
		text-align: center;
		margin-bottom: 50px;
		
		h2{
			color: white;
		}

		svg{
			width: 62px;
			height: 64px;
		}
		a{
			color: white;
			font-weight: 700;
		}
	}
	li{
		display: inline;
		margin: 0 18px;

		img{
			vertical-align: middle;

			@media (max-width: 675px){
				margin: 20px;
			}
		}
	}

}
















/* ================================================*\
 *
 * HOME PAGE
/* ================================================*/
.home{

	aside#sidebar{
		background: $blue;
		padding: 44px 34px;
		color: white;

		@include span-columns(4);
		margin-bottom: 120px;

		@include media($small-screen-down){
			display: none;
		}

		& > header{
			font-family: $serif;
			text-align: center;
			@include font-size(36px);
			border-bottom: 2px solid $pink;
			padding-bottom: 8px;
			margin-bottom: 20px;
		}
		article{
			margin-bottom: 20px;
			width: 100%;
		}
		header h2{
			line-height: 70%;
		}
		header a{
			@include font-size(18px);
			color: white;
			font-weight: 400;
			font-family: $sans-serif;
		}
		time{
			font-weight: 300;
			min-height: 28px;
		}

		.btn{
			display: block;
			color: white;
			margin: 30px auto 0;
			width: 80%;
			text-align: center;

			@media (min-width: 701px) and (max-width: 1088px){
				@include font-size(12px);
				min-width: 100px;
				padding: 0;
				width: auto;
			}
		}

	}

	main#main{
		@include span-columns(8);
		@include omega;
		margin-left: 0;
		margin-bottom: 120px;


		@include media($small-screen-down){
			@include span-columns(12);
		}

		.cta{
			font-weight: 800;

			a{ 
				font-weight: 800; 
				@include font-size(36px);
			}
		}
		.svg-icon{
			width: 339px;
			height: 50px;
			max-width: 100%;
			display: block;
			margin: 0 auto;
		}
		h1{
			margin: 22px 0;
			text-align: center;
			@include font-size(36px);
		}
	}

	#featured-services{
		background: $green url(../img/fun-pattern-green.jpg);
		padding-top: 30px;
		padding-bottom: 70px;

		.preamble{
			text-align: center;
			margin-bottom: 50px;
			
			.h2{
				color: white;
				display: block;
				font-family: $header-font-family;
				  line-height: $header-line-height;
				  margin: 0;
				  text-rendering: optimizeLegibility; // Fix the character spacing for headings
				  font-weight: 400;
				font-size: $h2-font-size;
			}

			svg{
				width: 62px;
				height: 64px;
			}
		}

		.services{
			@include clearfix;
		}
		.featured-service{
			@include span-columns(4);
			text-align: center;

			@media (max-width: 1004px){
				float: none;
				margin: 0 auto !important;
				width: auto;
				max-width: 420px;
			}
			
		}
		.featured-service:nth-of-type(4){
			@include omega;

		}
		.service-ribbon{
			position: relative;
			margin-top: -70px;
		}
		.service-ribbon a{
			color: white;
			background: $pink;
			@include font-size(24px);
			font-family: $serif;
			height: 68px;
			width: 258px;
			line-height: 68px;
			display: block;
			margin: 0 auto;
			position: relative;
			z-index: 1;
			@include transition(all .3s ease-in);

			&:hover,
			&:active,
			&:focus{
				background: darken($pink, 15%);
			}
		}
		.svg-ribbon{
			width: 96px;
			height: 81px;
			position: absolute;
			z-index: 0;
			top: 0;
		}
		.svg-ribbon:nth-of-type(1){
			left: 0;
		}
		.svg-ribbon:nth-of-type(2){
			right: 0;
		}

		.service-description{
			background: #e9f0da;
			padding: 20px 18px;
			text-align: left;
			font-weight: 300;
			margin-top: 30px;

			@media (max-width: 1004px){
				display: none;
			}
		}

		.btn{
			display: block;
			color: white;
			margin: 50px auto 0;
			text-align: center;
		}
	}//featured-services

	#testimonials{
		padding: 90px 23px 100px;

		.testimonial{
			//OVERRIDE THIS WIDTH UNTIL A VIDEO IS READY
			//@include span-columns(6);
			@include span-columns(12);


			svg.svg-icon{
				width: 62px;
				height: 64px;
				margin:0 auto;
				display: block;
			}

			.h1{
				color: $blue;
				@include font-size(36px);
				font-family: $serif;
				//OVERRIDE THIS WIDTH UNTIL A VIDEO IS READY
				text-align: center;
				display: block;
				margin-bottom: 50px;
			}
			.btn{
				display: block;
				width: 280px;
				color: white;
				margin: 50px auto 0;
			//	float: left;
				text-align: center;
			}

			.pullquote{
				float: none;
				width: 100%;
				margin: 0;
				@include font-size(24px);
			}
			.pullquote p{
				color: black;
				font-style: italic;
				font-weight: 300;
				padding-left: 50px;
				position: relative;
				@include font-size(24px);

				&:before{		
					color: $pink;
					@include font-size(90px);
					font-family: $serif;
					font-weight: bold;
					width: 32px;
					height: 42px;
					position: absolute;
					left: -17px;
					top: 35px;
				}
				&:after{
					display: none;
				}

			}

			.attribute{
				display: block;
				text-align: right;
				color: black;
				font-style: italic;
				font-weight: 300;
			}
		}
		.video{
			//OVERRIDE THIS WIDTH UNTIL A VIDEO IS READY
			//@include span-columns(6);
			//@include omega;
			display: none;


			.thumb{
				border: 5px solid $blue;
				width: 100%;
				height: auto;
			}
		}

	}//testimonials

}


.flexbox .home{

	aside#sidebar article{
		@include display(flex);
		@include flex-direction(row);
		@include flex-wrap(wrap);
		@include justify-content(flex-start);
		@include align-items(flex-start);
		@include align-content(flex-start);

		header{ 
			@include order(1); 
			@include flex(1 1 100%);
			width: 100%;
			min-height: 50px;
		}
		time {  
			@include order(0);
			@include flex(1 1 100%);
		}
	}

	#featured-services{
		.featured-service{
			@include display(flex);
			@include flex-direction(row);
			@include flex-wrap(wrap);
			@include justify-content(flex-start);
			@include align-items(flex-start);
			@include align-content(flex-start);
			height: 740px;

			@media (max-width: 1004px){
				height: 300px;
			}
		}

		.service-thumb{
			@include flex(1 1 455px);
			width: 100%;
		}
		.service-description{
			@include flex(1 1 100%);
		}


	}




}








/* ================================================*\
 *
 * CONTACT PAGE
/* ================================================*/

.page-id-13{
	$mapHeight : 851px;

	#container{
		position: relative;
	}
	#content{
		position: relative;
		z-index:1;
	}
	main#main{
		@include span-columns(12);
		margin-left: 0;
		height: $mapHeight - 100;
	}
	#map-wrap{
		position: absolute;
		left: 0;
		top: 200px;
		z-index: 0;
		height: $mapHeight;
		width: 100%;
	}
	#map{
		height: $mapHeight;
	}

	article.post-13{
		background: url(#{$img}/map_marker_giant.png) no-repeat 0 0;
		background-size: 90% auto;
		@include span-columns(5 of 12);
		
		height: 588px;
		padding: 50px 0 0;

		h1{ 
			color: white;
			text-align: center;
			@include font-size(36px);
		}
		.entry-content{
			color: white;
			padding: 0 44px;	
			margin-right: 44px;	
		}
		.address{
			font-style: normal;
			margin: 10px 0 20px;

			.svg{ vertical-align: 3px; }
		}
		.email a{
			color: white;

			.svg{ vertical-align: -8px; }
		}
		.phone {
			@include font-size(28px);
			font-weight: 600;
			margin: 20px 0 0;

			.svg{ vertical-align: -6px; }
		}
		.svg{
			width: 32px;
			height: 33px;
			display: inline-block;
			margin-right: 22px;
		}
		.text{
			display: inline-block;
		}
		.svg-icon.flippy-icon{
			width: 62px;
			height: 64px;
			margin: 30px auto 0;
			display: block;

			@include media($small-screen-down){
				display: none;
			}
		}

		@media (min-width: 1041px){
			@include omega;
		}


	}
	
	div.contact-msg{
		color: #ffffff;
		padding: 0 30px;
		text-align: center;
		margin: 0 0 36px;
		padding: 28px 0 0;

		a.btn{
			@include font-size(18px);
			background: $pink;
			padding: 0;
			display: block;
			text-align: center;
			margin: 22px auto 0;
			color: #ffffff;
			max-width: 220px;
		}

		a.btn svg.svg-icon{
			width: 18px;
			height: 24px;
			display: inline-block;
			vertical-align: sub;
			margin-right: 6px;
		}
	}

	div.form-wrap{
		@include span-columns(7 of 12);	
		position: relative;

		.inner-wrap{
			margin: 0 114px 0 22px;
			padding: 18px 26px;
			background: $blue;
		}

		.form-title{
			background: $pink;
			color: white;
			@include font-size(36px);
			font-family: $serif;
			display: block;
			text-align: center;
			height: 77px; 
			line-height: 77px;
			position: relative;
			z-index: 1;
		}
		.svg-ribbon{
			width: 111px;
			height: 129px;
			position: absolute;
			top: 0;
		}
		.svg-ribbon:nth-of-type(1){
			left: -60px;
		}
		.svg-ribbon:nth-of-type(2){
			right: 29px;
		}


		.wpcf7{
			margin-top: 36px;
			color: white;
			text-align: center;
		}
		.form-full,
		.form-half{
			margin-bottom: .5em;
		}
		form .form-half:nth-of-type(odd){
			padding-right: 12px;
			padding-left: 0;
			clear: left;
		}
		form .form-half:nth-of-type(even){
			padding-left: 12px;
			padding-right: 0;
			clear: right;
		}
		.form-half.cpta{
			padding-right: 12px !important;
			padding-left: 0 !important;
			clear: left;
		}
		.form-half.cpta + .form-half{
			padding-left: 12px;
			padding-right: 0;
			clear: right;
			margin-top: 28px;
		}
		.wpcf7-submit{
			color: white !important;
		}
		.ajax-loader{
			display: none;
		}
		.captcha-prompt{
			text-align: left;
		}
		.wpcf7-validation-errors{
			color: #490000;
			border: none;
		}


		.wpcf7-form-control,
		.wpcf7-form-control input,
		.wpcf7-form-control textarea{
			color: $blue;
		}
		::-webkit-input-placeholder {
		   color: $blue;
		}

		:-moz-placeholder { /* Firefox 18- */
		   color: $blue;  
		}

		::-moz-placeholder {  /* Firefox 19+ */
		   color: $blue;  
		}

		:-ms-input-placeholder {  
		   color: $blue;  
		}

		.intake-cta{
			text-align: center;
			color: white;
			@include clearfix;

			.svg-icon{
				width: 26px;
				height: 34px;
			}
			
			.intake-link{
				display: inline-block;
				width: 220px;
				margin-left: 16px;
				@include font-size(14px);
				font-weight: 300;
			}

		}

	}

	//GENERIC MOBILE
	@media (max-width:1040px){
		#content{
			overflow:hidden;
		}
		main#main{
			height: auto;
		}
		#map-wrap,
		#map{
			height: 1327px;
		}
		div.form-wrap{
			margin-right: 0 !important;
		}
		div.form-wrap .inner-wrap{
			margin: 0;
		}
		div.form-wrap .svg-ribbon:nth-of-type(2){
			right: -60px;
		}
		
		article.post-13{
			margin-top: 1.5em;
			background: $orange !important;
			height: auto;
			margin-bottom: 1.5em;
			padding: 50px 0;
		}
		article.post-13 .entry-content{
			padding: 0 20px;
		}
		article.post-13 .svg{
			display: block;
			margin: 0 auto;
		}
		article.post-13 .text{
			display: block;
			text-align: center;
		}
	}
	@include media($small-screen-down){
		#map-wrap,
		#map{
			height: 1557px;
		}	
	}

	#candy-bar{
		position: relative;
		z-index: 1;
	}
}

//MOBILE NO-FLEXBOX
.no-flexbox .page-id-13{
	@media (max-width:1040px){
		div.form-wrap,
		article.post-13{
			@include span-columns(12 of 12);
			@include shift(0 of 12);			
		}
		
		
	}
}

//MOBILE FLEXBOX
.flexbox .page-id-13{
	@media (max-width:1040px){
		
		main#main{
			@include display(flex);
			@include flex-direction(row);
			@include flex-wrap(wrap);
			@include justify-content(center);
			@include align-items(flex-start);
			@include align-content(flex-start);
		}
		div.form-wrap{
			@include order(1);
			@include flex(1 1 100%);
			margin-bottom: 30px;
		}
		article.post-13{
			@include order(0);
			@include flex(1 1 100%);
		}
	}
}











/* ================================================*\
 *
 * PATIENT INTAKE FORM PAGE
/* ================================================*/

.page-id-33{

	article.page .wpcf7{
		color:$blue;

		h3{
			@include font-size(18px);
			font-family: $sans-serif;
			font-weight: 700;
			margin-bottom: 1.5em;
			clear: both;
		}
		fieldset{
			clear: both;
			width: 100%;
			padding: 0;
			margin: 0;
		}

		input,
		select,
		textarea{
			background: rgba($blue, .5);
			border: none;
		}

		.wpcf7-form-control,
		.wpcf7-form-control input,
		.wpcf7-form-control textarea{
			color: $blue;
		}
		::-webkit-input-placeholder {
		   color: $blue;
		}

		:-moz-placeholder { /* Firefox 18- */
		   color: $blue;  
		}

		::-moz-placeholder {  /* Firefox 19+ */
		   color: $blue;  
		}

		:-ms-input-placeholder {  
		   color: $blue;  
		}

		.label{
			float: left;
		}

		.wrap-name{
			padding-right: 12px;
			padding-left: 0;
		}
		.wrap-onset{
			width: 30%;

			@include media($small-screen-down){
				width: 100%;
			}
		}
		input[type='date']{
			@include font-size(15px);
		}
		.wrap-gender{
			width: 70%;
			padding-left: 34px;
			color: $blue;
			
			.wpcf7-form-control-wrap{
				float: right;
				width: 70%;
			}
		}

		label{
			font-weight: 300;
		}

		.guardian-section,
		.father-section,
		.mother-section{
			@include clearfix;
		}

		//left items
		.wrap-guardian,
		.wrap-g-city,
		.wrap-g-email,
		.wrap-g-cellphone,
		.wrap-m-email,
		.wrap-m-cellphone,
		.wrap-father,
		.wrap-f-city,
		.wrap-f-email,
		.wrap-f-cellphone,
		.wrap-mother,
		.wrap-m-city,
		.wrap-refname,
		.wrap-refphone,
		.wrap-physcianname,
		.wrap-insurancename,
		.wrap-insuredname,
		.wrap-insureddob,
		.wrap-other,
		.wrap-captcha{
			padding-left: 0;
			padding-right: 12px;
			clear:left;
		}

		//right items
		.wrap-g-address,
		.wrap-g-homephone,
		.wrap-g-workphone,
		.wrap-m-homephone,
		.wrap-m-workphone,
		.wrap-f-address,
		.wrap-f-homephone,
		.wrap-f-workphone,
		.wrap-m-address,
		.wrap-refcompany,
		.wrap-physcianphone,
		.wrap-insurancephone,
		.wrap-insuredssn,
		.wrap-policy,
		.wrap-insuredemployer,
		.wrap-submit{
			padding-left: 12px;
			padding-right: 0;
			clear:right;
		}

		.wrap-f-heading,
		.wrap-m-heading{
			@include clearfix;

			h3{
				float: left;
				margin: 5px 12px 0 0;
			}
			.wpcf7-list-item{
				float: left;
			}
			.wpcf7-list-item-label{
				font-weight: 800;
			}
		}

		.wrap-name,
		.wrap-age,
		.wrap-gender,
		.wrap-policy{
			margin-top: 34px;
		}

		.wrap-parents .label{
			margin-right: 30px;
			margin-bottom: 1.5em;

			@include media($small-screen-down){
				display: block;
				float: none;
			}
		}
		.wrap-parents .wpcf7-list-item{
			display: inline;
			width: auto;

			@include media($small-screen-down){
				display: block;
			}
		}
		.wrap-otherparent{
			.wpcf7-radio{
				padding-left: 1.5em;
				@include clearfix;
			}
			.wpcf7-list-item{
				margin-top: 1.5em;
			}

		}
		.wrap-services .wpcf7-checkbox{
			@include clearfix;
			display: block;
		}
		.wrap-services .wpcf7-list-item{
			width: 50%;
			margin-bottom: 1em;

			@include media($small-screen-down){
				width: 100%;
			}
		}
		.wrap-services .wpcf7-list-item-label{
			width: 80%;
		}
		.wrap-diagnosis .wpcf7-list-item,
		.wrap-problems .wpcf7-list-item,
		.wrap-aggressive .wpcf7-list-item{
			margin-bottom: 1.5em;
		}
		.ui-spinner{
			border: none;
			border-radius: 0;
			input{
				margin:0;
			}
		}

		.wrap-submit{
			margin-top: 27px;

			input{
				background: $pink;
				color: white;
			}
		}
		.wpcf7-response-output{
			margin-bottom: 1.5em;
		}

		.father-section,
		.mother-section{
			overflow: hidden;
			@include transition(all .2s ease-out);
			
			.toggle-body{
				
			}

			&.on{				
				.toggle-body{
					display: none;
				}
			}
		}


	}



}
