/* ================================================*\
 *
 * Sidebar
/* ================================================*/
aside#sidebar{
	position: relative;

	h4{
		text-align: center;
	}

	nav a{
		color: $base-font-color;
		font-weight: 300;
	}
	
	.widget{
		margin-bottom: 47px;
	}

	//contact form
	.widget_custom_cf7,
	.widget_text{
		background: $blue;
		padding: 18px 0;
		color: white;

		h4{
			background:$pink;
			color:white;
			height: 71px;
			line-height: 77px;
			@include font-size(36px);
			position: relative;
			z-index:1;
		}
		#cf7_form_box{
			padding: 30px;
		}

		.textwidget{
			padding: 16px 30px 30px;
		}

		p{
			font-weight: 300;
			text-align: center;
		}

		a{
			color: white;
			font-weight: 700;
			@include font-size(24px);
		}
		
		a.btn{
			@include font-size(18px);
			background: $pink;
			padding: 0;
			display: block;
			text-align: center;
			margin: 22px 0 0;
		}

		a.btn svg.svg-icon{
			width: 18px;
			height: 24px;
			display: inline-block;
			vertical-align: sub;
			margin-right: 6px;
		}
		
		hr{
			border-bottom: 1px solid #ffffff;
			margin: 1em 0;
		}

		.intake-cta{
			@include display(flex);
			@include flex-direction(row);
			@include flex-wrap(wrap);
			@include justify-content(space-between);
			@include align-items(flex-start);
			@include align-content(flex-start);

			a{
				@include flex(1 0 34px);
			}
			.svg-icon{
				width: 34px;
				height: 45px;
			}
			p.intake-link{
				@include flex(2 1 120px);
				@include font-size(14px);
				text-align: left;
			}
		}
	}//contact form

	.svg-ribbon{
		width: 101px;
		height: 121px;
		position: absolute;
		top: 0;
	}
	.svg-ribbon:nth-last-of-type(2){
		left: -60px;
	}
	.svg-ribbon:last-child{
		right: -60px;
	}

	> .flippy-icon{

		&:first-child{
			display: none;
		}

		width: 62px;
		height: 62px;
		display: block;
		margin: 0 auto 28px;
	}

}


.flippy-icon{
	&:hover,
		&:active,
		&:focus{
			@include animation(cartwheel 1s cubic-bezier(0.43, 0.05, 0.94, 0.67) infinite normal forwards);
		}
}

@include keyframes(cartwheel){
	from{ @include transform( rotate(0deg) ); }
	to{ @include transform( rotate(360deg) ); }
}


.no-flexbox .intake-cta{
	a{
		float:left;
	}
}



/* ================================================*\
 *
 * SIDEBAR
/* ================================================*/
#sidebar{
	h4{
		margin-bottom: 20px;
	}
	li{
		margin-bottom: 20px;
	}
	li a{
		font-weight: 300;
		color: #000000;
	}
	.post-date{
		display: block;
		font-weight: 300;
	}
	.widget_recent_entries a{
		font-weight: 700;
	}


}

.flexbox #sidebar{
	.widget_recent_entries li{
		@include display(flex);
		@include flex-direction(row);
		@include flex-wrap(wrap);
		@include justify-content(space-between);
		@include align-items(flex-start);
		@include align-content(flex-start);
	}
	.widget_recent_entries a,
	.widget_recent_entries .post-date{
		@include flex(1 1 100%);
	}
	.widget_recent_entries a{
		@include order(1);
	}
	.widget_recent_entries .post-date{
		@include order(0);
	}

}