@import "header";
@import "banner";
@import "main";
@import "footer";
@import "blog";
@import "_sidebar";



/*
 * ABA POP-UP
 **/

 .abaPopUp{

 	.fancybox-skin{
 		background: none;
 		border:none;
 		box-shadow: none;
 	}

 	.fancybox-inner{
 		background: none;
 	}

 	#abaForm{
 		background: #ffffff url(../img/fun-pattern-white.gif) 0 90px;
 		width: 449px;
 		height: 100%;
 		margin: 0 auto;
 	
 		@media (max-width: 736px){
 			width: 90%;
 			height: auto;
 			overflow: hidden;
 		}

	 	.svg-ribbon{
	 		z-index: 0;
	 		position: absolute;
	 		top: -2px;
	 		width: 132px;
	 		height: 114px;

	 		@media (max-width: 840px){
	 			display: none;
	 		}
	 	}

	 	.ribbon-left{
	 		left: 0;
	 	}

	 	.ribbon-right{
	 		right: 0;
	 	}

	 	span.h1{
	 		background: $pink;
	 		text-align: center;
	 		font-size: 33px;
	 		font-family: $serif;
	 		display: block;
	 		color: #ffffff;
	 		height: 92px;
	 		line-height: 92px;
	 		position: relative;
	 		z-index: 1;

	 		@media (max-width: 736px){
	 			height: auto;
	 			line-height: 130%;
	 			padding: 10px 20px;
	 		}
	 	}
		
		.popup-inner{
			margin: 45px;
			padding: 33px;
			background: rgba($blue, .2);
			text-align: center;

			@media (max-width: 738px){
				margin: 15px;
				padding: 15px;
			}
			
			p{
				font-weight: 600;
			}

			strong{
				color: $pink;
			}
			
			hr{
				border-bottom: 2px solid #ffffff;
			}

			a.btn{
				@include font-size(18px);
				background: $pink;
				padding: 0;
				display: block;
				text-align: center;
				margin: 22px auto 0;
				color: #ffffff;
				max-width: 220px;
			}

			a.btn svg.svg-icon{
				width: 18px;
				height: 24px;
				display: inline-block;
				vertical-align: sub;
				margin-right: 6px;
			}
		}

	 	.wpcf7{
	 		background: rgba($blue, .2);
	 		margin: 46px;
	 		padding: 33px;

	 		 @media (max-width: 580px){
	 			margin: 10px 5px;
	 		}
	 	}

	 	p.intro{
	 		margin-bottom: 30px; 
	 	}

	 	span.pink{
	 		color: $pink;
	 		font-weight: 800;
	 	}

	 	.wpcf7-submit{
	 		@media (max-width: 690px){
	 			height: auto;
	 			white-space: normal;
	 		}	 		
	 	}

	}



 }