@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic|Vollkorn:400,700);

//paths
$img: "../img";


@function calculateRem($size) {
	$remSize: $size / 18px;
	@return $remSize * 1rem;
}

@mixin font-size($size) {
	font-size: $size;
	font-size: calculateRem($size);
}

@import "normalize";
@import "fancybox";
@import "bourbon/bourbon";
@import "base/grid-settings";
@import "neat/neat";
@import "base/base";
@import "wordpress";



.inner-container{
	@include outer-container();
	@include padding(null 23px null 23px);
}



@import "pediaplex/site";
@import "owlcarousel";